.scroller-container {
    width: 100%;
}

.photoScroller {
    margin: 0 auto;
    position: relative;
    height: 500px;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller-btn {
    position: absolute;
    z-index: 20;
    font-size: 2rem;
    font-weight: bold;
    background-color: #4f88dd;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    outline: none;
    transition: background-color 0.3s;
}

.scroller-btn:hover {
    background-color: #2a5799;
}

.scroller-prev {
    left: 0;
}

.scroller-next {
    right: 0;
}

.imgContainer {
    display: flex;
    padding: 30px 5px;
    width: 100%;
    height: 100%;
}

.imgContainer img {
    /* THIS IS THE MARGIN USED FOR CALCULATIONS IN THE JS FILE  */
    margin: 0 10px;
}

@media (max-width: 1024px) {
    .photoScroller {
        height: 400px;
    }

    .scroller-btn {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .photoScroller {
        height: 350px;
    }

    .scroller-btn {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .photoScroller {
        height: 250px;
    }

    .scroller-btn {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
}